# Ignore build output files
.gradle
**/build/
**/out/
**/target/

# Ignore logs
**/logs/

# Ignore H2 DB
**/db/*.db

# Ignore IDE files
.idea
*.iml

# Docker data files
docker/database
docker/elasticsearch
docker/logstash

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Misc
roup